/* CSS pour le panier */
.title {
  text-align: center;
}
.product {
  width: 150px;
}
.cart {
  margin-top: 3em;
}

.form-control input[type="checkbox"] {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.btn-outline-danger:hover {
  background-color: #e74c3c;
}

.btn-outline-danger:active {
  border-style: None;
}

.delete {
  margin: 0 auto;
}

.picture {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.minus {
  margin-right: 10px;
}

.plus {
  margin-left: 10px;
}

.trash {
  padding: 5px;
}

td,
th {
  text-align: center;
}

.button:hover {
  background-color: #fff;
}

.code {
  z-index: inherit !important;
}

.picture {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}
/* CSS pour Stripe*/
.StripeElement {
  margin-top:1em;
  margin-left:0.5em;
  margin-right : 32em;
  position: relative;
  height: 40px;
  padding: 10px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 2px  gray;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;

}
.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/* CSS pour le form */

.input-wrapper {
  position: relative;
  margin: 20px auto;
  margin-top : 1em;

}
.form-control cardSection {
  display: block;
  line-height: 2em;
  margin: 1em;
  padding-left: 10px;
  width: 100%;
  font-size: medium;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 500;
}

.form-control:focus {
  border: 1px solid #2c7ac9;
}

.control-label {
  display: block;
  position: absolute;
  opacity: 0;
  bottom: 1.9rem;
  color: #5d5d5d;
  transition: 0.2s ease-in-out transform;
  font-size: 12px;
}

.la {
  text-align: center;
  background: #ffffff;
  display: flex;
}

#btnPay, #Back {
  margin-top: 10px;
}
#btnPay {
   float:right;
}

#input {
  margin-top: 20px;
}

.home {
  text-align: left;
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  background-image: url("../../img/femme.jpg");
  background-size: cover;
  

}

.container {
  background-color: rgb(160, 233, 178);
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 10px;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1.2em;
  border: solid 1px rgb(36, 34, 34)
  
}

.center{
  text-align: center;
}

#h1 {
  text-align: center;
  margin-top: ;
}