.title {
  text-align: center;
}
.product {
  width: 150px;
}

input[type="checkbox"] {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.btn-outline-danger:hover {
  background-color: #e74c3c;
}

.btn-outline-danger:active {
  border-style:None;
}

.btn btn-outline-danger {
  margin: 0 auto;
}

.Toastify__progress-bar-theme--light {
    background:red;
}


