.home {
  text-align: center;
  background: #ffffff;
  min-height: 100vh;
  display: flex;
}

.hello {
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  color : black;
  margin: auto;
  display: inline-flex;
}

.img {
  max-width: 100%;
  min-width: 100%;
}
