
.home {
  text-align: left;
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  background-image: url("../../img/femme.jpg");
  background-size: cover;

}

.container {
  background-color: white;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 10px;
  overflow: hidden;
  
}

.center{
  text-align: center;
}
