#openTable {
    padding-top: 9em;
}

#btnShow {
    margin-top: 1px;
    position: relative;
}

#closeTable {
    padding-top: 10em;
}

table {
    border: solid lightgray 2px;
}

.form-select  {
    background-color: antiquewhite;
    max-width: 100px;
}

.td-message {
    padding-right: 2%;
}

#text1 {
    max-width: 100%;
}

#btn {
    margin-left: 1%;
}