#openTable {
    padding-top: 9em;
}

#btnShow {
    margin-top: 1px;
    position: relative;
<<<<<<< refs/remotes/origin/develop
}

#closeTable {
    padding-top: 10em;
}

table {
    border: solid lightgray 2px;
}

.form-select  {
    background-color: antiquewhite;
    max-width: 100px;
}

.td-message {
    padding-right: 2%;
}

#text1 {
    max-width: 100%;
}

#btn {
    margin-left: 1%;
<<<<<<< refs/remotes/origin/develop
<<<<<<< refs/remotes/origin/develop
}
=======
=======
}

#closeTable {
    padding-top: 10em;
}

table {
    border: solid lightgray 2px;
>>>>>>> Change some css and js in contact page. And adding eslintcache to gitignore
}

.form-select  {
    background-color: antiquewhite;
}
<<<<<<< refs/remotes/origin/develop

#textObjet {
    /*float: left;
    overflow: hidden;
    clear: both;
    max-width: 60%;
}*/
>>>>>>> add specification but not finished
=======
>>>>>>> Change some css and js in contact page. And adding eslintcache to gitignore
=======
}
>>>>>>> Avancement contact user front + back mais pas fini
