#openTable {
    padding-top: 9em;
}

#btnShow {
    margin-top: 1px;
    position: relative;
}

#closeTable {
    padding-top: 10em;
}

table {
    border: solid lightgray 2px;
}

.form-select  {
    background-color: antiquewhite;
}
