.section {
    margin-top: 20px;
    text-align : justify;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 45px;
}

p {
    margin-top: 10px;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 40px;
}