.shop {
  text-align: center;
  background: #ffffff;
  min-height: 100vh;
  display: flex;
}

.btn-outline-success:hover {
  background-color: #5db674;
}

.btn-outline-success:active {
  border-style:None;
}

.btn btn-outline-success {
  margin: 0 auto;
}

.box {
  height: 150px;
  width: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.picture {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.Toastify__toast-container--top-right {
    top: 5em;
    right: 1.5em;
}

.Toastify__progress-bar-theme--light {
    background:#5db674;
}